<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CinemaX - Nova Exibição</title>

    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../static/css/form.css" th:href="@{/css/form.css}">
</head>
<body>
    <div id="formulario" class="container">
        <header class="painel">
            <a href="./index.html" th:href="@{/}">
                <img src="../static/images/cinemax-logo.svg" th:src="@{/images/cinemax-logo.svg}" alt="Logo">
            </a>
            <h1>Nova Exibição</h1>
        </header>
        <section class="form">
            <form action="novaexibicaosucesso.html" th:action="@{/nova-exibicao}" th:object="${modelExibicao}" method=post>
                <label for="data">Data da exibição</label>
                <input type="date" name="data" /*th:field="*{data}"*/>

                <label for="horario">Horario da exibição</label>
                <input type="time" name="horario" /*th:field="*{horario}"*/>
                
                <label for="idFilme">Filme</label>
                <select name="idFilme" /*th:field="*{idFilme}"*/>
                    <option value="" selected disabled hidden>Escolher filme</option>
                    <option th:each="filme : ${filmes}" th:value="${#numbers.formatInteger(filme.id_filme, 1)}" th:text="${filme.filme}"></option>
                </select>
                
                <label for="idSala">Sala para exibição</label>
                <select name="idSala" /*th:field="*{idSala}"*/>
                    <option value="" selected disabled hidden>Escolher sala</option>
                    <option th:each="sala : ${salas}" th:value="${#numbers.formatInteger(sala.id_sala, 1)}" th:text="${sala.sala + ' (' + sala.tipo_sala + ')'}"></option>
                </select>
                
                <fieldset>
                    <legend> Tipo de Exibição </legend>
                    <span>
                        <input type="radio" name="audio_original" value="1" /*th:field="*{audio_original}"*/>
                        <label for="audio_original">Audio original (Legendado)</label>
                    </span>
                    <span>
                        <input type="radio" name="audio_original" value="0" /*th:field="*{audio_original}"*/>
                        <label for="audio_original">Audio em Portugues (Dublado)</label>
                    </span>
                </fieldset>
                <input type="submit" value="Gravar Nova Exibição">
            </form>
        </section>
    </div>
</body>
</html>